:root {
  --fontSizeTitle: 1.5vw;
  --fontSizeIntroduction: 2.5em;
  --color-navbar: rgb(4, 255, 242);
  --colorIntroduction: rgb(253, 253, 253);
  --colorFontPrincipal-text: rgb(0, 255, 238);
  --text-shadow-fantasy: 0px 5px 5px rgb(225, 0, 255);
}
* {
  box-sizing: border-box;
  padding: 0%;
  margin: 0;
}
body {
  background-image: url("../images/3395620.jpg");
  background-repeat: no-repeat;
  background-position: auto;
  background-size: cover;
  height: max-content;
}

h1{
  color: #ae58ff;
  font-family: fantasy;
  font-weight: 200;

}
h2{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 200;

}
.navbar {
  display: grid;
  /* grid-template-rows: repeat(1, auto); */
  align-items: center;
  width: 100%;
  height: 5vw;
  gap: 1vw;
}
.navbar .menu-links a {
  color: var(--color-navbar);
  position: relative;
  transition: ease-in 0.3s;
}
.menu a:hover {
  transform: scale(1.1);
}
.menu a::after {
  content: "";
  position: absolute;
  background-color: rgb(0, 255, 255);
  height: 3px;
  width: 0px;
  left: 0;
  bottom: -10px;
  transition: 0.3s;
}
.menu-links a:hover::after {
  width: 100%;
}
.navbar_container {
  display: grid;
  margin: 10%;
  padding: 1vw;
  grid-template-columns: repeat(2, max-content);
  justify-content: space-between;
  align-items: center;
  align-content: center;
  width: 80vw;
  height: 3vw;
  font-family: Georgia, "Times New Roman", Times, serif;
  border-radius: 1vw;
  background: rgba(37, 34, 37, 0.329);
  transition: 0.5s;
  box-shadow: 1px 2px 8px black;
  translate: scaleY(-5vw);
  position: fixed;
  overflow: hidden;
  z-index: 2;
}
.navbar_container:hover {
  -webkit-box-shadow: 0px 0px 65px 0px rgba(0, 247, 255, 0.47);
  -moz-box-shadow: 0px 0px 65px 0px rgba(0, 247, 255, 0.47);
  box-shadow: 0px 0px 45px 0px rgba(0, 247, 255, 0.47);
}
.menu-icon, #check{
  display: none;
  font-size: x-large;
}
@media  (max-width: 768px) {
   
 
  .navbar{
    width: 100%;
  }
  .nav{
    display: flex;
    justify-content: space-between;

  }
  
  .menu {
    display: flex;
    flex-direction: column;
    font-size: 2em;
    width: 80%;
    height: 100vh;
    position: absolute;
    background-color: #1a1a2c;
    right: 0;
    left: -100%;
  }
  .menu li{
    text-align: center;
    font-size: x-large;
    padding: 50px;
    top: 100px;
    height: 7vw;
  }
  
  .navbar_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: end;
    width: 100%;
    overflow: visible;
    height: 5vw;
    margin: 0;
    background-color: #1a1a2c;
  }
  .nav{
    width: 23vw;
  }
  .checkbtn{
    display: block;
    z-index: 3;
    cursor: pointer;
    color: aliceblue;
  }
  .menu-icon{
    display: block;
  }
  #check:checked  ~  .menu{
    left: 0;
    transition: ease-in-out 0.5s;
  }
  #check:not(:checked ) ~ .menu{
    transition: ease-in-out 0.5s;
    
  }
  #check:checked + label{
    color: #ae58ff;
  }

  .title h2{
    font-size: 3vw;
  }
  .navbar_container:hover {
    box-shadow: none;
  }
  
  
}
.title {
  font-size: 1vw;
  color: rgb(213, 76, 255);
  text-shadow: 0px 5px 5px rgb(0, 0, 0);
  cursor: pointer;
  transition: 0.3s;
}
.title:hover {
  transform: scale(1.1);
}

.title span {
  color: var(--colorFontPrincipal-text);
}
.menu {
  width: 100%;
  display: flex;
  gap: 3vw;
}
.menu-links {
  width: 100%;
  font-size: 0.7vw;
}
.link {
  list-style: none;
  font-size: 1.2em;
}
.link a {
  text-decoration: none;
  color: var(--colorFontPrincipal);
}
/* cuerpo */
.soluciones {
  width: 100%;
  color: rgb(226, 226, 226);
  margin-top: 10vw ;
}
.container_services h1{
  font-size: 3vw;
  color: #ae58ff;
}
.container_services h2{
  color: #ae58ffb7;
  font-size: 1.3vw;
}
.container_services {
  width: 100%;
  height: 60vw;
  margin: 0 auto;
  background-color: rgb(22, 22, 22);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 86%);
}
.container_services div {
  padding-top: 1vw;
}
.c {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2, 45%);
  justify-content: center;
  gap: 1vw;
  width: 100%;
  margin: 0 auto;
  padding: 2vw;
}
.services {
  font-size: 1.5vw;
  text-align: center;
}
.container {
  width: 100%;
  height: 50%;
}
.c p{
 font-size: 1.2vw;
}
.image {
  grid-area: "image";
  width: 40vw;
  min-width: 30vw;
  height: 35vw;
  min-height: 20vw;
  background-image: url("../images/christopher-gower-m_HRfLhgABo-unsplash\ \(1\).jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 1vw;
  animation: translateR alternate 2s;
}
.cont {
  padding: 2vw;
  margin: 2vw;
  animation: translateL alternate 1.5s;
}
.message {
  animation: translateL alternate 1.5s;
}
.solucionesP {
  animation: translateL alternate 2s;
}
.solucionesI {
  animation: translateL alternate 2.5s;
}
.altaCalidad {
  animation: translateL alternate 3s;
}
@keyframes translateL {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes translateR {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.cont i {
  border: solid 2px rgb(0, 255, 242);
  display: flex;
  align-items: center;
  justify-content:center ;
  text-align: center;
  border-radius: 50%;
  font-size: 1.6vw;
  width: 3vw;
  height: 3vw;
  transition: 1s;
}
.cont i:hover {
  transform: rotateY(360deg);
  box-shadow: 0px 0px 15px white;
  border-color: #ae58ff;
}

.container_grid-services {
  width: 100%;
  height: max-content; 
  display: grid;
  align-items: center;
  align-content: center;
  justify-content: space-around;
}
.container_grid-services p{
  font-size: 1.3vw;
}
.container_grid-services h2{
  font-size: 2vw;
}
.our-services {
  width: 100%;
}
.s {
  width: 60%;
  margin: 0 auto;
  text-align: center;
  font-size: 1.7vw;
}


.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  gap: 2vw;
  width: 80%;
  height: 100%;
  margin: 0 auto;
}
.grid-container div {
  display: grid;
  border: solid 2px aqua;
  border-radius: 1vw;
  width: 100%;
  height: 100%;
  padding: 1vw;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.274), rgba(255, 255, 255, 0.185)) rgba(237, 165, 255, 0.233);
  color: #00ffff;
  transition: ease-in-out .3s;
}
.show-animate .contact{
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.2vw;
  color: rgb(156, 124, 177);
  animation: translateL 3s ease;
}
@media screen and (width < 899px) {
    .contact a{
      font-size: 2vw;
    }
    .contact p{
      color: #ffffff;
    }
    .contact h2{
      color: aqua;
    }
    .our-services h1{
      font-size: 2.5vw;
    }
    .our-services p{
      font-size: 2vw;
    }
    .cont{
      grid-template-rows: repeat(1, 30px);
    }
}
.contact a{
  text-decoration: none;
  color: aliceblue;
  margin: 2vw auto;
  background-color: #58ffff83;
  width: 12vw;
  height: 3vw;
  text-align: center;
  padding: 0.7vw;
  border-radius: 1vw;
  transition: .4s;
}
.contact a:hover{
  background-color: #58ffffee;
  color: rgb(104, 104, 104);
  box-shadow: 0 0 8px #58ffff,
  0 0 12px #58ffff,0 0 18px #58ffff;
  border: solid 1px #58ff58;
}
.grid-container div:hover{
  color: rgb(208, 255, 253);
}
.grid-container div i{
  font-size: 1.5vw;
}


.show-animate .dev{
  animation: translateY ease-in-out 1s;
}
.show-animate .design{
  animation: translateY ease-in-out 1.5s;
}
.show-animate .opt{
  animation: translateY ease-in-out 2s;
}
.show-animate .marqueting{
  animation: translateY ease-in-out 2.5s;
}
.show-animate .seo{
  animation:normal translateY ease-in-out 3s;
}
@keyframes translateY{
  0%{
    transform: translateY(100%);
    opacity: 0;
  }
  100%{
    transform: translateY(0);
    opacity: 1;
  }
}


/* Footer */
.container-footer {
  display: grid;
  width: 100%;
  margin-top: 10vw;
}

.container-footer a {
  color: aliceblue;
  text-decoration: none;
}
.contact--footer i {
  padding: 0.5vw;
  font-size: 1.7vw;
  transition: 0.5s;
}
.contact--footer i::before {
  color: #ae58ff;
  transition: ease-in-out 0.3s;
}
.contact--footer i:hover::before {
  color: rgb(61, 216, 255);
}
.contact--footer i:hover {
  transform: rotate(360deg);
}
.footer--all {
  display: grid;
  padding: 2vw;
  justify-content: space-between;
  align-items: top;
  align-content: center;
  grid-template-columns: repeat(4, 1fr);
  width: 80%;
  height: 100%;
  font-size: 1vw;
  margin: 0 auto;
}
.ct_f {
  display: grid;
  align-content: start;
  gap: 1vw;
  list-style: none;
  color: aliceblue;
}

.ct_f h2 {
  color: aqua;
  text-shadow: var(--text-shadow-fantasy);
}
.footer--end {
  display: grid;
  
  width: 100%;
  align-content: center;
  color: aliceblue;
  font-size: 0.7vw;
  text-align: center;
}
hr {
  width: 70%;
  border: 0;
  height: 0;
  box-shadow: 0 1px 5px 1px rgb(93, 236, 255);
  background: white;
  margin: 3vw auto;
}
.contact--footer {
  display: inline;
}
