*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(to top, rgba(0, 0, 0, 0.199), rgba(255, 255, 255, 0.199)) ;
    background-position: center;
    background-repeat: no-repeat;
}
.footer_top{
    display: flex;
    justify-content: end;
    margin-left: auto;
    width: 70%;
    gap: 4vw;
    color: rgb(165, 154, 5);
    align-items: center;
    height: 2.5vw;
    z-index: 1;
    position: sticky;
    font-size: 1vw;
    border-bottom: solid 2px gold;
}
.footer_top-hr{
    border: dashed 1px gold;
    z-index: 1;
    text-align: left;
    position: absolute;
    margin: -2px 0 0 29%;
    width: 2%;
}
 .content p{
    display: inline;
}
.content-info1 p{
    padding: 0 15px;
    font-size: 1vw;
}
.menu{
    display: flex;
    justify-content: end;
    gap: 3vw;
    height: 5rem;
    align-items: center;
}
.menu li{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    width: 15%;
    text-align: center;
    height: 100%;
    font-size: 1rem;
    transition: ease .5s;
}
.menu li a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    transition: ease-in .3s;
}
.menu li:hover{
    background-color: rgb(37, 37, 37);
    border-radius: 10px;
}
.menu li:hover a{
    color: rgb(237, 243, 70);

}
nav img{
    margin-top: -3%;
    position: absolute;
    width: 13.88vw;
    z-index: 2;
    clip-path: polygon(0 0, 100% 0, 100% 83%, 0% 100%);
}
nav i{
    display: none;
}
p{
    width: 60%;
    margin: 9vw auto;
    font-size: 1.5vw;
    font-family:Georgia, 'Times New Roman', Times, serif ;
}

.clinicas{
    display: grid;
    grid-template-columns: repeat(auto-fill, 450px);
    justify-content: center;
    align-items: center;
    text-align: left;
    font-size: 0.8vw;
    gap: 5vw;
    width: 80%;
    margin: 1% auto;
    background-color: white;
    border-radius: 1vw;
    padding: 1vw;
    transition: .5s;
}
.clinicas:hover{
    transform: scale(1.02);
    box-shadow: 5px 7px 8px;
    
}
.clinicas div{
    display: flex;
    flex-direction: column;
    width: 100%;
    animation: animation 2s;
}

.clinicas-text{
    width: 100%;
}
.clinicas iframe{
    height: 20vw;
    width: 25vw;
    margin-top: 2vw;
    border-radius: 10px;
    box-shadow: 0px 0px 3px black;
}
.clinicas h1{
    border-bottom: 2px solid gold;
    color: goldenrod;
}
.clinicas h2{
    color: rgb(110, 110, 110);
    padding: 10px 0;
}
.clinicas i{
    font-size: 1vw;
    font-weight: 600;
    color: goldenrod;
    text-decoration: underline;
}
strong{
    color: goldenrod;
}
iframe{
    width: 35vw;
    height: 35vw;
}
.slider-company{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 5vw;
    border: 5px solid  rgb(172, 123, 0);
    border-left: none;
    border-right: none;
  }
  .slider-company div{
    width: 10%;
    height: 100%;
    gap: 1px;
  }

.logo-seguros1{
    background-image: url(../images/logo/assissa.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    padding: 5px;
}
.logo-seguros2{
    background-image: url(../images/logo/adeslas.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.logo-seguros3{
    background-image: url(../images/logo/um.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.logo-seguros4{
    background-image: url(../images/logo/plusultra.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.logo-seguros5{
    background-image: url(../images/logo/global-card.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.logo-seguros6{
    background-image: url(../images/logo/odontogrup.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.logo-seguros7{
    background-image: url(../images/logo/mapfre.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.logo-seguros8{
    background-image: url(../images/logo/dentyred.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.logo-seguros9{
    background-image: url(../images/logo/fiatc.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
@keyframes animation {
    0%{
        opacity: 0;
        transform: scale(0);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }

}
#check{
    display: none;
}
@media screen and (max-width: 767px){
    .menu{
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 0;
        right: -150%;
        width: 100vw;
        height: 100%;
        background-color:bisque;
        z-index: 2;
    }
    .fi-br-menu-burger{
        display: block;
        position: absolute;
        margin: 1vw 2vw;
        font-size: 4vw;
        right: 0;
        z-index: 20;
        color: rgb(110, 83, 14);
    }
    
    .menu img{
        position: absolute;
        top: 0;
        left: 0;
        margin: 5vw 0 0 1vw;
    }
    .menu li a{
        color: rgb(153, 151, 20);
        font-size: 2vw;
        
    }
    .menu li{
        width: 100%;
    }
    .checkbtn{
        display: block;
        z-index: 3;
        cursor: pointer;
        overflow: visible;
    }
    
    #check:checked  ~  .menu{
        right: 0;
        transition: ease-in-out .7s;
    }
    #check:not(:checked ) ~ .menu{
      transition: ease-in-out .7s;
        
    }
    .body-container{
        width: 800%;
        margin: 0 auto;
    }
    .clinicas:hover{
        transform: none;
    }
    .clinicas {
        justify-content: left;
        align-items: left;
        width: 100%;
        font-size: 1.5vw;
    }
    .clinicas iframe{
        width: 70vw;
        height: 30vw;
    }
    .clinicas i{
         font-size: 3vw;
    }
    .clinicas div{
      width: 100%;
    }
}